/* General Styling */
.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  color: #eee;
  font-family: "Roboto", sans-serif;
  padding: 20px; /* Add some padding for mobile screens */
  box-sizing: border-box; /* Include padding in element's total width and height */
}

.forgot-password-container {
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px; /* Limit width for larger screens */
  width: 100%; /* Make it full width on smaller screens */
  margin: 20px; /* Add margin for spacing */
}

h2 {
  color: #00bcd4;
  margin-bottom: 20px;
}

/* Input Field */
.input-field {
  width: 80%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #eee;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #00bcd4;
}

/* Send Button */
.send-button {
  background-color: #00bcd4;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.send-button:hover {
  background-color: #0097a7;
  transform: translateY(-1px);
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  animation: scaleIn 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Success & Error Titles */
.success-title {
  color: #4caf50;
  font-size: 24px;
  margin-bottom: 15px;
}

.error-title {
  color: #e53935;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Close Button */
.close-button {
  background-color: #666;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button:hover {
  background-color: #777;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes scaleIn {
  from {
      transform: scale(0.9);
  }
  to {
      transform: scale(1);
  }
}