@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Comfortaa', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    /*background-color: #2c3542;*/
    background: url('/src/months/feb_mob.jpeg') no-repeat center center;
    background-size: cover;
    display: grid;
    place-items: center;
    perspective: 100rem;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background 2s ease;
}


@media (max-width: 850px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .wrapper.landscape-blur{
        backdrop-filter: blur(0px) !important;
    }
}